<!-- templates/about.html -->

{% extends 'base.html' %}


{% block content %}
  <h2>Hey everyone</h2>
  <h3>My name is shahid and I’m a complete Python nut</h3>

  <p>
  I’ve been obsessed with programming ever since I managed to convince my parents to buy me a dusty
  old Commodore 64 from the classifieds in a local newspaper. And my love for writing code hasn’t diminished
  since then.
  </p>

  <p>
  Eventually I got a bachelor’s degree in Information and Communication Engineering.
  I worked in full-time positions for a few years and today I’m an independent software developer and consultant.
  </p>

  <p>
  I was born and grew up in Germany but then later moved to Canada.
  I love both countries—and fortunately I mostly work remotely these days so I get to visit each one a fair bit.
  I’m glad I found a partner who’s willing to put up with these antics 🙂
  </p>

  <p>
  In terms of non-computer hobbies I like working out at the gym, cooking vegetarian food
  (buying my first proper cast-iron wok in Vancouver’s chinatown changed my life, haha),
  and going on hikes. I also read a lot. In general I found what makes me the happiest is building stuff.
  So I try and optimize for that. Every now and then I play some guitar to relax.
  </p>
{% endblock content %}
